.barra-navegacion > ul {
    display: flex;
    flex-direction: row;
    align-items: center; /* Centra horizontalmente */
    justify-content: space-around; /* Centra verticalmente */
    list-style: none;
    text-decoration: none;

}

.barra-navegacion >ul >li{
    font-family: "Arial", sans-serif;
    color: black;
    text-decoration: none;

}

.barra-navegacion >ul >li > a{
    color: black;
    text-decoration: none;
}

.barra-navegacion >ul >li > a:hover{
    background-color: aliceblue;
    color:aqua
}